*{
	font:12px "microsoft yahei ""Hiragino Sans GB","simsun","Arial";
	list-style:none;
	padding:0px;
	margin:0px;
	color:#333;
	text-decoration:none;
	border:0;
	
}

.fixhidden{
	display:none;
}


#hd{
	height:180px;
	width:100%;
	background:;
	margin:0 auto;
	background: #fff;
}
/*页头工具开始*/
#hd #tools{
	background-color:#f9f9f9;
	height:34px;
}
#hd .tools{
	width:1200px;
	margin:0 auto;
}

#hd #tools .tools .address{
	display:block;
	width:80px;
	line-height:30px;
	background:url(../images/head_sprite.png) no-repeat  -5px -302px;
	float:left;
	padding-left:10px;
	position:relative;
	top:3px;
	z-index:3;
	background-color:#f9f9f9;
	border-style:solid;
	border-color:#ccc;
	border-width:0;
	
}



#hd #tools .tools .all_area{
	width:300px;
	height:250px;
	position:absolute;
	background:#fff;
	z-index:2;
	line-height:18px;
	border:1px solid #ccc;
	display:none;
	top:33px;
	z-index:9999;
}

#hd #tools .tools .all_area .address_column{
	width:280px;
	margin:0 auto;


}


#hd #tools .all_area .address_column li a{
	border:none;
	float:left;
	padding:0 10px 0 10px;
	
}




#hd #tools .tools .welcome_dd{
	float:right;
	padding:8px 0 0 0;
}

#hd #tools .tools .welcome_dd .signin_btn{
	color:red;
}

#hd #tools .tools .new_york{
	
	float:right;
	margin:5px 0 0 10px;
	background:url(../images/nyse_icon.png) no-repeat ;
	height:24px;

}

#hd #tools .tools .new_york a{
	color:red;
	padding-left:20px;
	line-height:24px;
	margin-left:8px;

}

#hd #tools .tools ul{
	float:right;
	margin-top:2px;
	padding:0;
	
	
}

#hd #tools .tools ul li{
	float:left;
	height:24px;
	padding:0;
	padding-top:7px;
	position:relative;


}

#hd #tools .tools ul li a{
	border-right:1px solid #ddd;
	padding:0 7px 0 8px;
	position:relative;
	
}
#hd #tools .tools ul li a:hover{
	color:#ff2832;
}


#hd #tools .tools .phone_channel{
	padding:7px 0px;
}



#hd #tools .tools .my_dd a{
	background:url(../images/head_sprite.png) no-repeat -5px -307px;
	display:block;
	width:66px;
	

}
/*我的当当*/
#hd #tools .tools .customer ul , #hd #tools .tools .enterprise_buy ul,#hd #tools .tools .my_dd ul{
	position:absolute;
	z-index:2000;
	left:-1px;
	background:#f9f9f9;
	text-align:center;
	padding-bottom:10px;
	border-width:0 1px 1px 1px;
	border-style:solid;
	border-color:#e2e2e2;
	display:none;




}

#hd #tools .tools .customer ul li,#hd #tools .tools .enterprise_buy ul li, #hd #tools .tools .my_dd ul li{
	list-style:none;
	clear:both;
	border:none;
	height:16px;



}


#hd #tools .tools .customer ul li a, #hd #tools .tools .enterprise_buy ul li a, #hd #tools .tools .my_dd ul li a{
	background:none;
	border:none;
	font-size:12px;
}
#hd #tools .tools .enterprise_buy a{
	width:29px;
	padding:0 12px 0 10px;
	background:url(../images/head_sprite.png) no-repeat -5px -310px;
}

#hd #tools .tools .customer a{
	background:url(../images/head_sprite.png) no-repeat -7px -308px;
	display:block;
	width:65px;
}

#hd #tools .tools .icon_car{
	background:url(../images/home_sprite2.png) no-repeat -33px -86px;
	width:14px;
	height:15px;
	
}

#hd #tools .tools ul li .shopping_sum{
	color:red;
	font-weight:bold;
}

#hd #tools .tools .icon_mobile{
	background:url(../images/head_sprite.png) no-repeat -39px -70px; 
	position:absolute;
	height:16px;
	width:12px;
	left:9px;
	top:-1px;
	
}

#hd #tools .tools .phone_channel_link{
	width:auto;
	padding:0 9px 0 27px;
	height:21px;
	
}

/*页头工具结结束*/

/*LOGO&searchframe开始*/
#hd .logo_line_out .logo_line{
	margin:0 auto;
	width:77px;
	width:1200px;
	position:relative;
}
#hd .logo_line_out .logo_line .logo{
	margin-right:50px;
	position:absolute;
	top:0;
	width:362px;
	vertical-align:middle;
	left:0;
}



#hd .logo_line_out .logo_line .search .search_frame{
	width:398px;
	height:18px;
	
	border-width:2px medium 2px 2px ;
	border-color:#ff2832;
	border-style:solid none solid solid;
	padding:9px 0 9px 10px;
	left:0;
	position:absolute;
	top:0;
	outline:0 none;
	color:#323232;
	font:12/18 "hiragino Sans GB","simsun",arial;

}

#hd .logo_line_out .logo_line .search {
	height:48px;
	left:362px;
	margin-top:20px;
	position:absolute;
	top:0;

}

#hd .logo_line_out .logo_line .search form{
	display:block;
	height:50px;
}

#hd .logo_line_out .logo_line .search .button{
	background:url(../images/head_sprite.png) no-repeat 0px -346px;
	border:medium none;
	cursor:pointer;
	height:40px;
	width:48px;
	top:0;
	position:absolute;
	left:517px;

}
#hd .logo_line_out .logo_line .search .label_search{
	height:36px;
	left:10px;
	line-height:36px;
	overflow:hidden;
	position:absolute;
	top:2px;
	width:398px;
}
#hd .logo_line_out .logo_line .search .select{

	background-color:#f6f6f6;
	border-color:#ff2832 #ff2832 #ff2832 #dedede;
	border-style:solid;
	border-width:2px 2px 2px 0;
	cursor:pointer;
	height:36px;
	width:92px;
	padding:0 0 0 14px;
	position:absolute;
	left:410px;
	top:0;
	text-align:center;
	line-height: 36px;
	
	
}

#hd .logo_line_out .logo_line .search .select .show_category_name{
	font:16px/36px "microsoft yahei";
	color:#969696;
	
}	


#hd .logo_line_out .logo_line .search .select .more_icon{
	font-size:20px;
	background:url(../images/head_sprite.png) no-repeat -12px -81px;
	text-indent: 206px;

}	

/*分类搜索*/
#hd .logo_line_out .logo_line .search .select .select_pop{
	height:300px;
	background:#fff;
	position:absolute;
	
	overflow-y: scroll;
	overflow-x:hidden;
	width:96px;
	left:-1px;
	border-width:0 1px 1px 1px ;
	border-style:solid;
	border-color:#eee;
	z-index:998;
	
}

#hd .logo_line_out .logo_line .search .select .select_pop a{
	text-align: left;
	width:90px;
	display:block;
	line-height: 25px;
	padding-left: 2px;


}

#hd .logo_line_out .logo_line .search .select .select_pop a span{
	color:#666;
	font:12px "microsoft-yahei";
	padding-left:10px;

}

#tag-panel{
	background:#fff;
	width:600px;
	position:absolute;
	left:554px;
	top:180px;
	z-index:9998;
	color:#999;
	text-align:left;
	border:1px solid #ff2838;
	display: none;


}

#tag-panel .leftBox{
	padding:10px;
}

#tag-panel .enteriaSort{
	
}

#tag-panel .enteriaSort a{
	display: inline-block;
	width:60px;
	height:20px;
	line-height:20px;
	background:#ccc;
	padding-left:10px;
	
}

#tag-panel .enteriaSort a i{
	padding:0 0 0 10px;
}

#tag-panel .leftBox ul{
	padding:0;
	margin:0;
	width:580px;
	overflow: hidden;
}

#tag-panel .leftBox ul li{
	border-bottom:1px dotted #ccc;
	padding:5px 0 5px 0;
	font-size:0;

}

#tag-panel .leftBox ul li:hover{
	background:#eee;
}

#tag-panel .leftBox ul li h4{
	color:#ff2838;
	font-size:14px;
	float:left;


}
#tag-panel .leftBox .e,#tag-panel .leftBox .ph{
	width:500px;
	margin:0 0 0 75px;	

}


#tag-panel .leftBox  .ph a{
	border:none;
}


#tag-panel .leftBox  a{
	display: inline-block;
	
	padding:0 10px 0 10px;
	border-right:1px solid #eee;
	margin:2px 0 6px 0;
	color:#888;
	font-size:12px;
	padding:0 8px 0 8px;



}

#tag-panel .leftBox  a:last-child{
	border:none;
}


#hd .logo_line_out .shopping_cart {
	position:relative;
	height:36px;
	left:980px;
	top:20px;

}

#hd .logo_line_out .shopping_cart .shopping_cart_btn{
	width:107px;
	height:36px;
	background:url(../images/icon_cart.png) no-repeat 4px 0;
	background-color:#ff2338;
	border:2px solid #ff2838;
	position:absolute;
	z-index:2;

}

#hd .logo_line_out .shopping_cart .shopping_cart_btn:hover{
	background: #f2f2f2;
	background:url(../images/icon_cart.png) no-repeat 4px -38px;
	border:2px solid #ddd;
	
	

}

#hd .logo_line_out .shopping_cart .shopping_cart_btn a {
	
	line-height:36px;
	position:absolute;
	left:0px;
	padding-left:40px;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	display: inline-block;
	height:38px;
	width:70px;

}
#hd .logo_line_out .shopping_cart .shopping_cart_btn a:hover{
	color:#ff2832;
}
#hd .logo_line_out .shopping_cart .shopping_cart_btn a:hover i{
	color:#ff2832;
}


#hd .shopping_cart .shopping_cart_btn i{
	font-weight:bold;
	color:#fff;
	
}

#hd .shopping_cart .my_order{
	width:100px;
	background:#f2f2f2;
	border:2px solid #ddd;
	height:36px;
	position:absolute;
	left:109px;
	z-index:1;


}

#hd .shopping_cart .my_order a{
	line-height:36px;
	font-weight:bold;
	position:relative;
	padding-left:20px;
	font-size:14px;
	display: inline-block;
	width:80px;
	height:38px;


}
#hd .shopping_cart .my_order a:hover{
	
	
	color:#ff2838;
}


/*头部导航开始*/

#hd .nav_top{
	border-bottom:3px solid #ff2832;
	position:relative;
	top:70px;
	height:37px;

}

#hd .nav_top .nav_top_frame{
	width:1200px;
	margin:0 auto;

}


#hd .nav_top .nav_top_frame li{
	float:left;
	padding:0 15px 0 15px;
	
}

#hd .nav_top .nav_top_frame li a{
	font:bold 14px/40px "microsoft Yahei";
}

#hd .nav_top .nav_top_frame .goods_list{
	background:url(../images/head_sprite.png) no-repeat 160px -565px;
	background-color:#ff2838;
	width:172px;

}

#hd .nav_top .nav_top_frame .goods_list a{
	color:#fff;
}
/**页头结束*/

#bd{
	width:1200px;
	height:456px;
	background:;
	margin:0 auto;

}
/*主体开始*/

#bd .goods_sort{
	background-color:#f2f2f2;
	width:202px;
	position:relative;
	float:left;
	height:448px;

	
}

#bd .goods_sort ul{
	padding:4px 0 10px 1px;

}

#bd .goods_sort ul li{
	padding:2px 0 2px 0;
	
}


#bd .goods_sort li a{
	font:14px "Microsoft yahei";
	line-height:34px;
	
	display: inline-block;
	width:96%;
	height:30px;
	padding-left:8px;
	line-height:30px;
	


	

}

#bd .goods_sort li a:hover{
	border-width:1px 0 1px 1px;
	border-style:solid;
	border-color:#ff2838;
	color:#ff2838;
	margin:-1px 0 -1px 0;
	font-size:15px;

}



#bd .run_ad{
	float:left;
	background:red;
	width:796px;
}


#bd .run_ad .run_poster{
	overflow: hidden;
	height:296px;
	position:relative;
	
	
}
#bd .run_ad .run_poster .wrapTab{
	width:160px;
	height:20px;
	position: absolute;
	top:270px;
	left:50%;
	z-index:100;
}
#bd .run_ad .run_poster .tab{
	position: absolute;
	left:-50%;
	
}
#bd .run_ad .run_poster .tab li:hover{
	background: #ff2838;
	color: #fff;
	cursor: pointer;

}
#bd .run_ad .run_poster .tab li{
	float:left;
	width:20px;
	font:14px 'microsoft yahei';
	background:#666;
	border-radius: 10px ;
	margin-left:10px;
	text-align: center;
	color:#fff;

}

#bd .run_ad .run_poster .posterList{
	position:absolute;
	z-index: 30;
	

}
#bd .run_ad .run_poster .posterList li{
	height:296px;
	width:796px;
	position: absolute;
	z-index:10;
	overflow: hidden;
	
}

#bd .run_ad .tehui ul{
	height:160px;
	overflow:hidden;
	
}

#bd .run_ad .tehui li{
	float:left;
	border-width:1px  1px 1px 0;
	border-color:#f2f2f2;
	border-style:solid solid solid none;
}

#bd .news{
	width:202px;
	
	background:#fff;
	float:left;
}

#bd .news .recommend_goods{
	height:195px;
}

#bd .news .for_sale{
	height:33px;
	width:100px;
	background-color:#ddd;
	float:left;
	text-align:center;
	border-width:1px 0 1px 1px;
	border-style:solid none solid solid;
	border-color:#ccc;
}

#bd .news .for_sale a{
	line-height:33px;


}

#bd .news .ad_window ul{
	float:left;
	padding:6px 0 7px 10px;
} 

#bd .news .ad_window ul li{
	line-height:22px;
	text-indent:1em;
	background:url(../images/home_sprite_1507.png) no-repeat 0 -190px;
}

#bd .news .serve{
	height:33px;
	width:100px;
	background-color:#ddd;
	float:left;
	text-align:center;
	border-width:1px 0 1px 1px;
	border-style:solid none solid solid;
	border-color:#ccc;
}

#bd .news .serve a{
	line-height:33px;

	
}

#bd .news .ad_window .for_sale_list{
	padding:6px 0 7px 10px;
}

#bd .news .goods_play{
	clear:both;
}
#bd .news .goods_play div{
	
	width:66px;
	height:33px;
	background:#ddd;
	float:left;
	text-align:center;
	line-height:33px;
	border-width:1px 0 1px 1px;
	border-style:solid none solid solid;
	border-color:#ccc;

}

#bd .news .goods_play ul{
	height:90px;
	overflow: hidden;
	width:202px;
}

/*豆腐块*/



#cellAera{
	clear:both;
}
#cellAera .cellCenter{
	
	width:1200px;
	margin:0 auto;
}

#cellAera .cellCenter ul{
	padding:0;
	margin:0;
}

#cellAera .cellCenter ul li{
	float:left;
	border-width:0 1px 1px 0px ;
	border-style:solid;
	border-color: #eee;
	text-align: center;
	overflow: hidden;


}

#cellAera .cellCenter .seckill ul li{
	width:198px;
	height:227px;
	line-height:227px;

}

#cellAera .cellCenter ul li img{
	vertical-align:middle;
}

 .food, .cosmetic , .kids, .futurn , .digital , .shose ,.dress ,.T-shirt{
	border-bottom:1px solid #eee;

}

#cellAera .cellCenter .seckill{
	border-top:2px solid #ff2838;
	border-left:1px solid #eee;
	width:1200px;
	height:456px;


}

#cellAera .cellCenter h2{
	font-weight:normal;
	color:#ff2838;
	padding:30px 0 10px 5px;
	

}

#cellAera  .seckill .seckill-up,#cellAera  .seckill .seckill-down{
	
	border-style:solid;
	border-color: #eee;
	width:996px;
	height:227px;

	

}

#cellAera .seckill-left{
	float:left;
	
}

#cellAera .cellCenter .seckill .seckill-right{
	float:right;
	background: purple;
	 

}



#cellAera .cellCenter .seckill .seckill-right li{
	clear:both;
	height:113px;
	overflow: hidden;
	line-height: 0;
	overflow: hidden;

}

#cellAera .cellCenter .book{
	border-top:2px solid #999;
}
/*F2 book*/

#cellAera .cellCenter .books{
	
	
}
#cellAera .cellCenter .books{
	width:1200px;
	
	height:300px;

}

#cellAera .cellCenter .books .books-left{
	float:left;
	width:912px;
	
}

#cellAera .cellCenter .books-left div{
	float:left;
}

#cellAera .cellCenter .books  li{
	float:left;
	border-width:0 1px 1px 0;
	text-align:center;
}

#cellAera .cellCenter .books  li img{
	vertical-align:middle;

}

#cellAera .cellCenter .books .books-down li{
	width:167px;
	height:220px;
	
	
}



#cellAera .cellCenter .books .books-up li {
	height:222px;
	

	
}

#cellAera .cellCenter .books .books-up .books-normal{
	width:167px;
	
}

#cellAera .cellCenter .books .books-recommend{
	width:280px;
	height:373px;
	float:right;
	border:1px solid #eee;

}




#cellAera .books .books-recommend h3{
	float:left;
	background:#ddd;
	width:138px;
	text-align:center;
	vertical-align: middle;
	padding:0;
	margin:0;
	height:40px;
	line-height:40px;
	border:1px solid #999 ;

}
#cellAera .books .books-recommend ol{
	margin:0;
	padding-left:30px;
	border:1px solid #eee;
	background:red;


}



#cellAera .books .books-recommend ol li{
	list-style-type: decimal;
	border-bottom:1px solid #eee;
	width:100%;
	height:30px;
	line-height:30px;
	margin:0;
	padding:0;
	text-align:left;

}

#cellAera .books .books-recommend ol li a{
	height:30px;
	line-height:30px;
	
	

}

#cellAera .books .books-recommend li{
	clear:both;

}

/*F3 clothing*/
#cellAera .cellCenter .clothing{
	clear:both;
	
	height:591px;

}

#cellAera .cellCenter .clothing .clothingSymbol, .clothing .clothing-up , .clothing .clothing-down{
	float:left;
}



#cellAera .cellCenter .kids .kidSymbol, .kids .kids-up , .kids .kidsAd, .cellAera .kids .kids-dowm{
	float:left;
}

#cellAera .cellCenter .kids .kidsAd{
	height:220px;
	overflow: hidden;
}

#cellAera .cellCenter .kids  li{
	width:191px;
	height:220px;
	
}

#cellAera .cellCenter .dress{
	clear:both;
}

#cellAera .cellCenter .T-shirt{
	clear:both;
}

#cellAera .cellCenter .shose{
	clear:both;

}

#cellAera .cellCenter .sport{
	clear:both;
}

#cellAera .cellCenter .cosmetic{
	clear:both;
}

#cellAera .cellCenter .cosmetic .cosmeticSymbol {
	float:left;
}

#cellAera .cellCenter .cosmetic ul{
	width:960px;
	float:left;
}

#cellAera .cellCenter .cosmetic  li{
	height:220px;
	width:159px;
}

#cellAera .cellCenter .future{
	clear:both;
}

#floorLeader{
	position:fixed;
	
	
	width:100px;
	height:880px;
	
	background-position: 5px 0;
	background-color:#eee;
	 opacity:0;
	
}

#floorLeader ul li{
	
	line-height:40px;
	
	
}

#floorLeader ul li a{
	color:#fff;
	cursor:pointer;
	display:block;
	font-size:14px;
	height:40px;
	padding-left:38px;
	text-decoration:none;
	background-image: url("../images/fix_box_icon.png");
	
}

#floorLeader .f1{
	background-position: 0 0;

}

#floorLeader .f2{
	background-position: 0 -40px;

}

#floorLeader .f3{
	background-position: 0 -80px;

}

#floorLeader .f4{
	background-position: 0 -120px;

}

#floorLeader .f5{
	background-position: 0 -160px;

}

#floorLeader .f6{
	background-position: 0 -200px;

}

#floorLeader .f7{
	background-position: 0 -240px;

}

#floorLeader .f8{
	background-position: 0 -280px;

}



#floorLeader .f9{
	background-position: 0 -320px;

}

#floorLeader .f10{
	background-position: 0 -360px;

}

#floorLeader .f11{
	background-position: 0 -400px;

}





#floorLeader .current0{
	background-position: -40px 0;

}


#floorLeader .current1{
	background-position: -40px -40px;

}



#floorLeader .current2{
	background-position: -40px -80px;

}



#floorLeader .current3{
	background-position: -40px -120px;

}



#floorLeader .current4{
	background-position: -40px -160px;

}




#floorLeader .current5{
	background-position: -40px -200px;

}



#floorLeader .current6{
	background-position: -40px -240px;

}



#floorLeader .current7{
	background-position: -40px -280px;

}


#floorLeader .current8{
	background-position: -40px -320px;

}



#floorLeader .current9{
	background-position: -40px -360px;

}



#floorLeader .current10{
	background-position: -40px -400px;

}





#footer{
	clear:both;
	width:100%;
	
	background:#fff;
	margin:0 auto;
	border-top:2px solid #ff2838;
	
}

#footer .servece {
	margin:0 auto;
	height:80px;
	background:#fafafa;
	border-bottom:1px solid #ddd;
}

#footer .servece .serveceCenter{
	max-width:830px;
	margin:0 auto;
	background:red;
	

}
#footer .servece .serveceList{

}

#footer .servece .serveceCenter a{
	display: block;
	height:52px;
	width:138px;
	float:left;
	margin:10px 30px 0 30px;
}
#footer .servece .serveceCenter .servece1{
	background-image:url(../images/footer_bg.png);
}
#footer .servece .serveceCenter .servece2{
	background-image:url(../images/footer_bg.png) ;
	background-position: 0 -52px;
}
#footer .servece .serveceCenter .servece3{
	background-image:url(../images/footer_bg.png);
	background-position: 0 -104px;
}
#footer .servece .serveceCenter .servece4{
	background-image:url(../images/footer_bg.png);
	background-position: 0 -156px;
}


#footer .quick{
	height:170px;
	border-bottom:1px solid #ddd;
	width:100%;
	
}

#footer .quick{
	width:100%;
	margin:0 auto;

}

#footer .quick .quick-wrap{
	width:800px;
	margin:0 auto;
}

#footer .quick dl{
	float:left;
	width:16.65%;
	text-align:center;
	padding:35px 0 0 0;



}

#footer .quick dl dt{
	font-size:15px;
	color:#666;
	padding-bottom:10px;
}

#footer .quick .quick-wrap dl dd a{
	font-size:13px;
	color:#999;
}

#footer .copyright{
	height:270px;
	margin:0 auto;
	width:100%;
	text-align:center;
	padding-top:20px;

}

#footer .copyright ul{
	width:782px;
	margin:0 auto;
	padding:0 -2px 0 -2px;
	overflow: hidden;
}

#footer .copyright li a{
	padding:0 10px 0 10px;
	border-right:1px solid #ccc;
}

#footer .copyright li a:last-child{
	
	border-right:none;
}

#footer .copyright p,#footer .copyright a{
	color:#999;
	line-height:30px;

}

