@charset 'utf-8';
/*ipad mini2 横版*/
@media screen and (max-width: 1204px){
	header .top li a{
		padding:0 3%;
	}
}


/*900px*/
@media screen and (max-width: 900px){
	header .nav li a{
		line-height:50px;
		height:50px;
		font-size:1.6rem;
	}

	header .nav li:last-child a{
		line-height:50px;
		font-size:1.6rem;
	}

	header .logo{
		height:50px;
		line-height:50px;
		width:10%;
	}

	header .header-right{
		padding-left: 10%;
	}

	header .top{
		display: none;
	}

	header .nav{
		height:50px;	
	}


	header .search-box a{
		line-height: 50px;
	}

	header .search-box .searchButtonSearch:before{
		content:"\e046";
		display:none;
	}

	header .search-box .hideMenu:before{
		display: block;
	}

	.banner-wrap li{
		background:url(../image/1600-900_305-253567_1600x900.jpg) no-repeat -450px bottom;	
	}

	.mainbody .part-2 .service .block .text-title{
		color:#fff;
		font-size:1.6rem;
	}

	.mainbody .part-2 .service .block{
		width:48%;		
		padding-bottom:30px;

	}

	.mainbody .part-1 .blocks{
		display: flex;
		flex-wrap:wrap;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.mainbody .part-1 .block{
		width:48%;
		overflow: hidden;
	}

	footer .footer-1 .block dt{
		font-size:1.4rem;
		
	}

	footer .footer-1 .block dd a{
		font-size:1.4rem;
	}

	footer .footer-3 p{
		font-size:1.4rem;
		
	}

	footer .footer-2 .company-info li{
		float:left;
		padding-right:20px;
		font-size:14px;
		font-weight:bolder;
		line-height:50px;

	}

	footer .footer-2 .company-info li{
		display: none;

	}

	footer .footer-2 .company-info li:first-child{
		display: block;
	}

	footer .footer-2 .company-info .arrow_up{
		display: block;

	}

	footer .footer-2 .company-info .arrow_up i:before{
		content:"\e00d";
		color:#4a4f54;
		position: relative;
		left:5px;
		top:-3px;

	}


}

/*ipadmini竖版 769px*/
@media screen and (max-width:769px){

	header .nav li{
		display: none;
	}

	header .nav li:first-child{
		display: block;
		width:100%;
	}

	header .nav li:first-child a i:before{
	display: block;
	}

	header .search-box .district{
		display: block;
	}

	header .search-box .district:before{
		height:50px;
		line-height:49px;

	}

	header .search-box{
		width:100px;
	}


	header .search-box a{
		width:50%;
		box-sizing: border-box;
		border-left:1px solid #eef1f1;

	}

	header .search-box .searchButtonSearch:before{
		content:"\e046";
		display: none;
	}

	/*ipadmini竖版 769px*/

	@media screen and (max-width:740px){

		.banner-wrap li{
			height:300px;
			background:url(../image/1600-900_305-253567_1600x900.jpg) no-repeat center bottom;
			background-size:cover; 
			position: relative;
			margin-top:50px;
		}
		
		.banner-wrap .banner-text{
			width:100%;
			height:174px;
			padding:30px;
			box-sizing: border-box;
			background: #fff;
			position: absolute;
			left:0;
			bottom:0;
			
		}
	
}
