<ion-view view-title="产品" id="products">

    <ion-content>
        <ion-slide-box auto-play="true" slide-interval="1000" does-continue="true">
            <ion-slide>
                <img src="images/poster04.jpg" alt="">
            </ion-slide>

            <ion-slide>
                <img src="images/poster07.jpg" alt="">
            </ion-slide>
        </ion-slide-box>

        <!--楼层标题-热销产品-->
        <h3 class="title text-center">执销产品</h3>
        <div class="row" id="product-single">
            <a class="col" ui-sref="tabs.details" >
                <img src="images/product-single.jpg" alt="">
                <p>{{data[0].title}}</p>
                <p class="price">￥263.00</p>
            </a>
        </div>

       <div class="row" >
           <a class="col-50" ng-repeat="product in data" ui-sref="tabs.details" ng-click="userOrder(product)">
               <img src="images/grid08.jpg" alt="" >
               <p>{{product.title}}</p>
               <p class="price">{{product.price}}</p>
           </a>

       </div>
        <p class="text-center" id="bottom-line">我是有底线的</p>

    </ion-content>


</ion-view>