<ion-side-menus>
    <ion-side-menu side="right">
        <ion-content>
            <div class="list">
                <a class="item">首页</a>
                <a class="item">产品</a>
                <a class="item">介绍</a>
            </div>
        </ion-content>
    </ion-side-menu>

    <ion-side-menu-content id="home">
        <ion-header-bar class="bar-dark">
            <button class="button button-icon ion-navicon" menu-toggle="right"></button>
        </ion-header-bar>

        <!--内容区-->
        <ion-content>

            <!--轮播-->
            <ion-slide-box auto-play="true" does-continue="true" slide-interval="1000">
                <ion-slide>
                    <a class="box">
                        <img class="full-image" src="images/poster1.jpg" alt="">
                    </a>
                </ion-slide>

                <ion-slide>
                    <a class="box">
                        <img class="full-image" src="images/poster.jpg" alt="">
                    </a>
                </ion-slide>

                <ion-slide>
                    <a class="box">
                        <img class="full-image" src="images/poster3.jpg" alt="">
                    </a>
                </ion-slide>
            </ion-slide-box>

            <!--网格布局块-1-->
            <div class="row item1">
                <div class="col">
                    <h4 class="pageTitle">优质产地</h4>
                    <img src="images/cross.jpg" alt="">
                </div>
            </div>

            <div class="row item1" >
                <div class="col ">
                    <a href=""><img src="images/56712a94a959a.jpg" alt=""></a>
                </div>
                <div class="col padding-horizontal">
                    <a href=""><img src="images/poster.jpg" alt=""></a>
                </div>


            </div>

            <div class="row item1">
                <div class="col">
                    <p>湘西多山，常年湿润多雨，云雾缭绕
                    </p>
                </div>

                <div class="col">
                    <p>湘西多山，云雾缭绕，
                        一直以秀美山水闻名中外。</p>
                </div>


            </div>


            <!--网格布局块-2-->
            <div class="row item2">
                <div class="col">
                    <h4 class="pageTitle">传统种植</h4>
                </div>
            </div>

            <div class="row item2" >
                <div class="col ">
                    <a href=""><img src="images/grid03.jpg" alt=""></a>
                </div>
                <div class="col padding-horizontal">
                    <a href=""><img src="images/poster3.jpg" alt=""></a>
                </div>

            </div>

            <div class="row item2">
                <div class="col">
                    <p>在现代农业中，化学除草已经是农业生产 的标准，</p>
                </div>

                <div class="col">
                    <p>但我们反其道而行之，仍然坚持人工除草，
                        避免土地污染和破坏农产品质量。</p>
                </div>
            </div>


            <!--网格布局块-3-->
            <div class="row item3">
                <div class="col">
                    <h4 class="pageTitle">现代化储存</h4>
                </div>
            </div>

            <div class="row item3" >
                <div class="col ">
                    <a href=""><img src="images/grid04.jpg" alt=""></a>
                </div>
                <div class="col padding-horizontal">
                    <a href=""><img src="images/grid04.jpg" alt=""></a>
                </div>

            </div>

            <div class="row item3">
                <div class="col">
                    <p>湘西多山，一直以秀美山水闻名中外。</p>
                </div>

                <div class="col">
                    <p>湘西多山，常年湿润多雨一直以秀美山水闻名中外。</p>
                </div>
            </div>


            <!--网格布局块-4-->
            <div class="row item4" >
                <div class="col">
                    <h4 class="pageTitle">国际先进加工设备</h4>
                    <img src="images/cross02.jpg" alt="">
                </div>
            </div>

            <div class="row item4" >
                <div class="col ">
                    <a href=""><img src="images/grid05.jpg" alt=""></a>
                </div>
                <div class="col padding-horizontal">
                    <a href=""><img src="images/grid05.jpg" alt=""></a>
                </div>

            </div>

            <div class="row item4">
                <div class="col">
                    <p>湘西多山，常年湿润多雨，云雾缭绕，一直以秀美山水闻名中外。</p>
                </div>

                <div class="col">
                    <p>湘西多山，常年湿润多雨，云雾缭绕，一直以秀美山水闻名中外。</p>
                </div>
            </div>


            <!--网格布局块-5-->
            <div class="row item5" >
                <div class="col">
                    <h4 class="pageTitle">主流的销售渠道</h4>
                </div>
            </div>

            <div class="row item5">
                <div class="col ">
                    <a href=""><img src="images/mark-logo-01.gif" alt=""></a>
                </div>
                <div class="col padding-horizontal">
                    <a href=""><img src="images/mark-logo-02.png" alt=""></a>
                </div>
                <div class="col ">
                    <a href=""><img src="images/mark-logo-03.gif" alt=""></a>
                </div>
                <div class="col padding-horizontal">
                    <a href=""><img src="images/mark-logo-04.gif" alt=""></a>
                </div>
                <div class="col ">
                    <a href=""><img src="images/mark-logo-05.gif" alt=""></a>
                </div>

            </div>

            <div class="row item5" >
                <div class="col ">
                    <a href=""><img src="images/mark-logo-06.gif" alt=""></a>
                </div>

                <div class="col ">
                    <a href=""><img src="images/mark-logo-07.gif" alt=""></a>
                </div>
                <div class="col padding-horizontal">
                    <a href=""><img src="images/mark-logo-08.gif" alt=""></a>
                </div>
                <div class="col ">
                    <a href=""><img src="images/mark-logo-09.gif" alt=""></a>
                </div>

                <div class="col padding-horizontal">
                    <a href=""><img src="images/mark-logo-10.gif" alt=""></a>
                </div>
            </div>

            <div class="row item5 market-logo">
                <div class="col col-25 col-offset-34">
                    <a href=""><img src="images/mark-logo-11.gif" alt=""></a>
                </div>
            </div>

            <p class="text-center" id="bottom-line">我是有底线的</p>


        </ion-content>

    </ion-side-menu-content>

</ion-side-menus>
