@charset 'utf-8';



.container .head{
	text-align:center;
}

.container .head h2{
	font-size:31px;
	text-transform:uppercase;
	text-align:center;
	line-height:50px;
	font-weight:normal;
	padding-top:80px;
}

.container .sub_nav{
	display: inline-block;
}

.container .sub_nav li{
	float:left;

}

.container .sub_nav li a{
	display: block;
	padding:0 16px;
	height:65px;
	line-height:65px;
	color:#393939;
	text-transform:uppercase;
	font-size:15px;
	font-family:arial;
	font-weight:600;
}

.container .sub_nav li .active{
	color:#eb5844;
}

.container .sub_nav li a:hover{
	color:#eb5844;
}

.container .grid{
	padding-bottom:56px;
	height:546px;
}

.container .grid a{
	float:left;
	line-height:0;
	position: relative;
}

.container .grid a:hover .mask{
	background:rgba(235,88,88,.7);
	height:100%;
	line-height:182px;
	color:#fff;

}

.container .grid .mask{
	height:0;
	width:100%;
	background:rgba(235,88,88,0);
	position: absolute;
	top:0;
	left:0;
	transition: all 0.2s ease;
	text-align:center;
	color:transparent;
	text-transform: uppercase;
	font-weight: bold;
}





.container .grid img{
	width:285px;
}

