<ion-view id="introduce" view-title="介绍">
    <ion-content>
        <div class="video">
            <video src="video/company.mp4" autoplay width="100%" loop></video>
        </div>

        <div class="row" class="">
            <div class="col-50 ">
                <img src="images/news-page.jpg" alt="" class="full-image">
            </div>
            <div class="col-40 col-offset-10">
                <h4>公司荣获市先进技术奖</h4>
                <p>太浪费人力了。”因此，她做的决定是“怒增SKU”，扩充酱油醋调味品、粮油干货、酒水饮料、河鲜海鲜等餐饮企业必备商品”。当然，同时还做了一个决定，专注服务品牌餐饮企业，即不再是广义上的中小餐饮。</p>
            </div>
        </div>

        <h4 class="title text-center">公司投资300万，支持本地农业升级</h4>
        <img src="images/W020110626240542285459.jpg" alt="" class="full-img">

        <div class="row">
            <div class="col">
                <img src="images/35ue6gotbt.jpg" alt="">
                <h4>改善水渠流量</h4>
                <p>当地的2000多条水渠得到改善，10万每年，</p>
            </div>

            <div class="col">
                <img src="images/35ue6gotbt.jpg" alt="">
                <h4>改善水渠流量</h4>
                <p>当地的2000多条水渠得到改善，</p>
            </div>

            <div class="col">
                <img src="images/35ue6gotbt.jpg" alt="">
                <h4>改善水渠流量</h4>
                <p>得到有效遏制，经济收益达100万每年，</p>
            </div>

        </div>

        <h4 class="title text-center">公司投资300万，支持本地农业升级</h4>
        <img src="images/interview.jpg" alt="" class="full-img">

        <div class="row">
            <div class="col">
                <img src="images/AN018-088.jpg" alt="">
                <h4>改善水渠流量</h4>
                <p>当地的2000多条水渠得经济收益达100万每年，</p>
            </div>

            <div class="col">
                <img src="images/AN018-049.JPG" alt="">
                <h4>改善水渠流量</h4>
                <p>往年的干旱灾害将得到有效遏制，经济收益达100万每年，</p>
            </div>

            <div class="col">
                <img src="images/AN018-0567.jpg" alt="">
                <h4>改善水渠流量</h4>
                <p>当地的2000多条水渠得到改善，经济收益达100万每年，</p>
            </div>

        </div>

        <p class="text-center" id="bottom-line">我是有底线的</p>



    </ion-content>
</ion-view>